body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    
    background-image: url('../images/imagemfundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
    
    background-color: rgba(0, 0, 0, 0.5); 
    background-blend-mode: overlay;
}

.form-container {
    background-color: rgba(255, 82, 2, 0.9);
    padding: 2.5em;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 450px;
    backdrop-filter: blur(5px);
}

h2 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 1.5em;
    font-weight: 600;
}

.form-group {
    margin-bottom: 1.5em;
}

label {
    display: block;
    margin-bottom: 0.5em;
    color: #555;
    font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    width: 95%;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: border-color 0.3s ease;
}

input:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

button {
    width: 100%;
    padding: 1.2em;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
}